# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/
.coverage
htmlcov/

# Environments & Packages
.venv/
.venv
venv/
spot/
ENV/
scratch/
env/
dist/
build/
*.egg-info/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg
env.bak/
venv.bak/

# Local configuration / secrets
.env
.env.*
.flaskenv
firebase-service-account*.json

# Project specific uploads & logs
uploads/
*.log

# OS & Editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

db_schema_*.md
0.*

# Local yfinance cache
industry_data/yf_cache/
check_docs.py
Spotlite Features (1).pdf
spotlite_erd.pdf
SpotLite_Transaction_Risk_Schema_Final.pdf
Spotlite DB schema.pdf
Spotlite DB schema.svg
SpotLite_Module_Documentation 3.0.docx.pdf
User Journey.pptx
Documents-Tab-backend-requirement.pdf
test_upload.py
